@import "tailwindcss";

section {
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --color-primary: 28 122 255;
    --color-primary-dark: 6 28 60;
    --color-primary-light: 187 225 250;
    --color-dark: 8 7 22;
    --color-text: 255 255 255;
    --color-body: 230 230 230;
    --color-lightblue: 28 122 255;
  }

  .bg-glass {
    background: linear-gradient(
      45deg,
      rgba(255 255 255 / 0.05),
      rgba(255 255 255 / 0.2)
    );
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  .bg-glass {
    background: linear-gradient(
      45deg,
      rgba(255 255 255 / 0.05),
      rgba(255 255 255 / 0.2)
    );
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  .bg-glass-bright {
    background: linear-gradient(
      45deg,
      rgba(255 255 255 / 0.2),
      rgba(255 255 255 / 0.3)
    );
  }
}

.timer-area {
  background: linear-gradient(
    35deg,
    rgba(165, 202, 255, 10%),
    rgba(165, 202, 255, 5%)
  );
}

.bg-to-end {
  position: absolute;
  left: 0;
  top: 0;
  width: 10000px;
  transform: translateX(-50%);
  height: 100%;
  z-index: -1;
}
.bg-to-start {
  left: 0;
  right: unset;
  position: absolute;
  top: 0;
  width: 10000px;
  transform: translateX(-50%);
  height: 100%;
  z-index: -1;
}
.scrolled .menu-link {
  @apply transition duration-200;
  color: rgb(var(--color-primary-dark));
}

@media screen and (min-width: 1024px) {
  .bg-to-end {
    width: 10000px;
    transform: translateX(0);
  }
  .bg-to-start {
    width: 10000px;
    left: unset;
    right: -1rem;
    transform: translateX(0);
  }
  .container > .grid {
    gap: 1rem;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
