.timer-area {
  background: linear-gradient(
    35deg,
    rgba(165, 202, 255, 10%),
    rgba(165, 202, 255, 5%)
  );
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
