@tailwind base;
@layer base {
  :root {
    --color-primary: 28 122 255;
    --color-primary-dark: 6 28 60;
    --color-primary-light: 187 225 250;
    --color-dark: 8 7 22;
    --color-text: 255 255 255;
    --color-body: 230 230 230;
  }

  .bg-glass {
    background: linear-gradient(
      45deg,
      rgba(255 255 255 / 0.05),
      rgba(255 255 255 / 0.2)
    );
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  .bg-glass {
    background: linear-gradient(
      45deg,
      rgba(255 255 255 / 0.05),
      rgba(255 255 255 / 0.2)
    );
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  .bg-glass-bright {
    background: linear-gradient(
      45deg,
      rgba(255 255 255 / 0.2),
      rgba(255 255 255 / 0.3)
    );
  }
}
