@tailwind base;
@layer base {
    :root {
        --color-primary: 15 76 117;
        --color-primary-light: 50 130 184;
        --color-primary-lighter: 187 225 250;
        --color-dark: 8 7 22;
        --color-text: 255 255 255;
    }
}