---
import Timer from "../components/Timer.tsx";
import MainLayout from "../layouts/MainLayout.astro";
import '../styles/landing.css';
---
<MainLayout>
	<section id="hero" class="min-h-screen flex  items-center justify-center">
		<div class="container">
			<div id="hero-text">
				<h1 class="text-white text-7xl text-center font-bold mb-8">COMING SOON!</h1>
				<Timer client:only="react"/>
			</div>
		</div>
	</section>
</MainLayout>