---
import Button from "../components/Button/Button";
import Timer from "../components/Timer";
import Accordion from "../components/Accordion";
import MainLayout from "../layouts/MainLayout.astro";
import type { Faq } from "../@types/faq";
import type { Agenda } from "../@types/agenda";
import "../styles/landing.css";
import type { Speaker } from "../@types/speakers";
import CardSpeaker from "../components/CardSpeaker.astro";
const eventDate = new Date(2024, 10, 17, 9, 0, 0);
const faq = import.meta.glob("../data/faq.json", { eager: true });
const agenda = import.meta.glob("../data/agenda.json", { eager: true });
const speakers = import.meta.glob("../data/speakers.json", { eager: true });

const faqData: Faq[] = Object.values(faq).map((item) => (item as any).default)[0];
const agendaData: Agenda[] = Object.values(agenda).map((item) => (item as any).default)[0];
const speakersData: Speaker[] = Object.values(speakers).map((item) => (item as any).default)[0];
---

<MainLayout>
  <section id="hero" class="min-h-full">
    <div class="container">
      <div class="grid grid-cols-12">
        <div class="hero-left col-span-12 flex flex-grow flex-wrap items-end gap-10 py-24 lg:col-span-4 lg:block">
          <img src="/logo.svg" alt="" class="grid-col w-[320px] lg:mb-8" />
          <div class="hero-text text-gray- flex flex-col gap-4">
            <h1 class="mb-3 text-3xl font-bold">Indonesia Software Developer Conference</h1>
            <div class="flex flex-col items-start gap-2 text-lg">
              <p>16-17th November, 2024</p>
              <a href="https://maps.app.goo.gl/yu2vU1EhWSZ2Gxse9" class="underline">GetCourse Hall, Jakarta Selatan</a>
            </div>
          </div>
        </div>
        <div
          class="hero-right relative col-span-12 col-start-1 grid grid-cols-subgrid flex-col py-28 text-white lg:col-span-8 lg:col-start-5">
          <div class="bg-to-end bg-primary-dark"></div>
          <div class="col-start-1 -col-end-1 lg:col-start-2">
            <div class="timer-area mb-12 flex items-center justify-center px-10 py-12 lg:py-24">
              <Timer
                client:only="react"
                date={eventDate}
                className="text-xl md:gap-5 md:text-xl xl:gap-10 xl:text-2xl"
              />
            </div>
            <div class="flex flex-col gap-6 lg:flex-row">
              <p class="text-balance text-xl font-light text-white opacity-80 lg:text-start">
                Join us for the first annual conference for Indonesia software developers, where you can hear
                thought-provoking keynotes from industry leaders and network with fellow developers.
              </p>
              <div class="flex">
                <Button
                  color="primary"
                  className="min-w-44 flex-grow self-center rounded-xl px-0 text-xl xl:text-2xl"
                  href="https://www.loket.com/event/idsw2024">
                  Get Tickets
                </Button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="about" class="bg-gradient-to-b from-[#030E1C] to-[#061C3C] py-12">
    <div class="container">
      <div class="grid grid-cols-12 items-center">
        <div class="about-left col-span-12 mb-8 gap-10 pb-0 lg:col-span-4 lg:block">
          <h2 class="text-2xl font-bold !leading-normal text-white md:text-5xl">Built by the Community</h2>
        </div>
        <div
          class="about-right relative col-span-12 col-start-1 grid grid-cols-subgrid flex-col lg:col-span-8 lg:col-start-5">
          <p
            class="col-span-12 text-sm !leading-relaxed text-gray-200 sm:text-xl md:text-2xl lg:col-span-8 lg:col-start-2">
            IDSW is Indonesia's first software developer conference. Organized by <a
              href="https://perkodi.org/"
              class="font-semibold underline">Perkodi</a
            > and <span class="font-semibold">various tech communities</span>, its mission is to offer annual in-depth
            sessions on the most important and new technologies.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- <section id="agenda" class="bg-gradient-to-br from-[#0A2B5B] to-[#22406B] py-24">
    <div class="container">
      <div class="grid grid-cols-12">
        <div class="agenda-left relative col-span-12 items-end pb-0 lg:col-span-3 lg:block">
          <div class="bg-to-start bg-primary-dark"></div>
          <div class="agenda-text text-white">
            <h2 class="mb-12 text-3xl font-bold lg:text-5xl">Event Agenda</h2>
            <div class="flex flex-col gap-5 text-left">
              <button class="w-full bg-lightblue p-5 text-left text-2xl font-bold">First Day</button>
              <button
                class="w-full bg-white/10 p-5 text-left text-2xl font-bold text-white/60 transition hover:bg-lightblue/20 hover:text-white/80">
                Second Day
              </button>
            </div>
          </div>
        </div>
        <div class="agenda-right relative col-span-12 grid flex-shrink grid-cols-subgrid flex-col lg:col-start-5">
          {agendaData.map((agenda) => <EventCard data={agenda} />)}
        </div>
      </div>
    </div>
  </section> -->
  <section id="expertise">
    <div class="container py-12">
      <div class="grid grid-cols-12">
        <div class="expertise-left relative col-span-12 items-end lg:col-span-4 lg:block">
          <h2 class="mb-3 text-3xl font-bold !leading-relaxed lg:text-4xl">Share Your Expertise at IDSW 2024</h2>
        </div>
        <div
          class="expertise-text relative col-span-12 mb-8 flex-shrink flex-col leading-relaxed lg:col-span-5 lg:text-xl lg:leading-9">
          Got tech insights to share? Submit your paper and contribute to engaging discussions on the latest trends and
          innovations.
        </div>
        <div class="expertise-button lg: relative col-span-12 mt-5 flex items-start lg:col-span-3 lg:pl-12">
          <Button
            color="primary"
            className="min-w-44 flex-shrink rounded-2xl text-xl xl:text-2xl"
            href="https://www.papercall.io/idsw-2024">
            Learn More
          </Button>
        </div>
      </div>
    </div>
  </section>
  <section id="speakers" class="">
    <div class="container">
      <div class="grid grid-cols-12">
        <div
          class="speakers-left relative col-span-12 items-end py-8 lg:col-span-4 lg:block lg:min-h-[1000px] lg:py-24">
          <div class="bg-to-start -translate-y-3 bg-lightblue">
            <img
              src="/logo-white.svg"
              alt=""
              class="grid-col absolute -bottom-8 right-0 hidden w-[520px] lg:mb-8 lg:block"
            />
          </div>
          <div class="faq-text text-white">
            <h2 class="mb-0 w-2/3 text-2xl font-bold !leading-normal md:mb-8 md:text-3xl lg:text-4xl">
              Our Esteemed Speakers
            </h2>
            <p class="hidden text-xl leading-relaxed opacity-80 lg:block">
              Discover valuable insights and perspectives from our distinguished speakers as they share their expertise,
              experiences, and innovative ideas to inspire.
            </p>
            <img
              src="/logo-white.svg"
              alt=""
              class="grid-col absolute -right-12 top-0 block h-full lg:mb-8 lg:hidden"
            />
          </div>
        </div>
        <div
          class="speakers-right relative col-span-12 flex-shrink flex-col bg-primary-dark py-12 lg:col-span-8 lg:px-12">
          <div class="bg-to-end bg-primary-dark"></div>
          <div class="speakers grid grid-cols-2 gap-5 md:grid-cols-3 xl:grid-cols-4">
            {speakersData.map((speaker) => <CardSpeaker data={speaker} />)}
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="faq" class="">
    <div class="container">
      <div class="grid grid-cols-12">
        <div class="faq-left relative col-span-12 hidden items-end py-24 pr-8 lg:col-span-4 lg:block">
          <div class="bg-to-start bg-primary-dark"></div>
          <div class="faq-text text-white">
            <h2 class="mb-3 text-3xl font-bold !leading-relaxed md:text-4xl">Frequently Asked Questions</h2>
            <p class="text-lg text-gray-400">Everything you need to know about the event.</p>
          </div>
        </div>
        <div class="faq-right relative col-span-12 flex-shrink flex-col py-12 lg:col-span-8 lg:px-16 lg:py-24">
          <div class="bg-to-end bg-[#E7F1FF]"></div>
          <h2 class="mb-8 text-3xl font-bold md:hidden">Frequently Asked Questions</h2>
          <Accordion data={faqData} client:load />
        </div>
      </div>
    </div>
  </section>
</MainLayout>
