---
import Button from "../components/Button/Button";
import Timer from "../components/Timer";
import Accordion from "../components/Accordion";
import MainLayout from "../layouts/MainLayout.astro";
import type { Faq } from "../@types/faq";
import type { Agenda } from "../@types/agenda";
import "../styles/landing.css";
import EventCard from "../components/EventCard.astro";
import type { Speaker } from "../@types/speakers";
import CardSpeaker from "../components/CardSpeaker.astro";
const eventDate = new Date(2024, 10, 17, 9, 0, 0);
const faq = import.meta.glob("../data/faq.json", { eager: true });
const agenda = import.meta.glob("../data/agenda.json", { eager: true });
const speakers = import.meta.glob("../data/speakers.json", { eager: true });

const faqData: Faq[] = Object.values(faq).map((item) => (item as any).default)[0];
const agendaData: Agenda[] = Object.values(agenda).map((item) => (item as any).default)[0];
const speakersData: Speaker[] = Object.values(speakers).map((item) => (item as any).default)[0];
---

<MainLayout>
  <section id="hero">
    <div class="container">
      <div class="grid grid-cols-12">
        <div class="hero-left col-span-12 flex flex-grow flex-wrap items-end gap-10 py-24 lg:col-span-4 lg:block">
          <img src="/logo.svg" alt="" class="grid-col w-[320px] lg:mb-8" />
          <div class="hero-text">
            <h1 class="mb-3 text-3xl font-bold xl:text-4xl">Indonesia Software Developer Conference</h1>
            <p>16-17th November, 2024</p>
            <p>GetCourse Hall, Jakarta Selatan</p>
          </div>
        </div>
        <div
          class="hero-right relative col-span-12 col-start-1 grid grid-cols-subgrid flex-col py-24 text-white lg:col-span-8 lg:col-start-5">
          <div class="bg-to-end bg-primary-dark"></div>
          <div class="col-start-1 -col-end-1 lg:col-start-2">
            <div class="timer-area mb-12 flex items-center justify-center rounded-lg px-10 py-12 lg:py-24">
              <Timer
                client:only="react"
                date={eventDate}
                className="text-xl md:gap-5 md:text-xl xl:gap-10 xl:text-2xl"
              />
            </div>
            <div class="flex flex-col gap-5 lg:flex-row">
              <p class="text-balance text-[22px] font-light">
                Join us for the first annual conference for Indonesia software developers, where you can hear
                thought-provoking keynotes from industry leaders and network with fellow developers.
              </p>
              <div class="flex flex-grow flex-col py-5">
                <Button color="primary" className="flex-grow xl:text-2xl"> Get Tickets </Button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="about" class="bg-gradient-to-b from-[#030E1C] to-[#061C3C] text-white">
    <div class="container">
      <div class="grid grid-cols-12">
        <div class="about-left col-span-12 gap-10 py-16 pb-0 lg:col-span-4 lg:block">
          <h2 class="text-[50px] font-bold">Built by the Community</h2>
        </div>
        <div
          class="about-right relative col-span-12 col-start-1 grid grid-cols-subgrid flex-col py-16 text-white lg:col-span-8 lg:col-start-5">
          <p class="col-span-12 text-2xl leading-10 lg:col-span-8 lg:col-start-2">
            IDSW is Indonesia’s first software developer conference. Organized by <b>Perkodi</b> and <b
              >various tech communities</b
            >, its mission is to offer annual in-depth sessions on the most important and new technologies.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="agenda" class="bg-gradient-to-br from-[#0A2B5B] to-[#22406B]">
    <div class="container">
      <div class="grid grid-cols-12">
        <div class="agenda-left relative col-span-12 items-end py-24 pb-0 lg:col-span-3 lg:block">
          <div class="bg-to-start bg-primary-dark"></div>
          <div class="agenda-text text-white">
            <h1 class="mb-12 text-3xl font-bold lg:text-7xl">Event Agenda</h1>
            <div class="flex flex-col gap-5 text-left">
              <button class="bg-lightblue w-full p-5 text-left text-2xl font-bold">First Day</button>
              <button class="w-full bg-gradient-to-r from-[#A5CAFF22] to-[#28467055] p-5 text-left text-2xl font-bold">
                Second Day
              </button>
            </div>
          </div>
        </div>
        <div class="agenda-right relative col-span-12 grid flex-shrink grid-cols-subgrid flex-col py-24 lg:col-start-5">
          {agendaData.map((agenda) => <EventCard data={agenda} />)}
        </div>
      </div>
    </div>
  </section>
  <section id="speakers">
    <div class="container">
      <div class="grid grid-cols-12">
        <div class="faq-left relative col-span-12 items-end py-24 pr-8 lg:col-span-4 lg:block">
          <div class="bg-to-start bg-lightblue">
            <img
              src="/logo-white.svg"
              alt=""
              class="grid-col absolute -bottom-8 right-4 hidden w-[520px] lg:mb-8 lg:block"
            />
          </div>
          <div class="faq-text text-white">
            <h1 class="mb-3 text-3xl font-bold md:text-6xl">Our Esteemed Speakers</h1>
          </div>
        </div>
        <div class="faq-right relative col-span-12 flex-shrink flex-col bg-primary-dark px-8 py-24 lg:col-span-8">
          <div class="bg-to-end bg-primary-dark"></div>
          <div class="speakers grid grid-cols-2 gap-5 lg:grid-cols-4">
            {speakersData.map((speaker) => <CardSpeaker data={speaker} />)}
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="faq" class="">
    <div class="container">
      <div class="grid grid-cols-12">
        <div class="faq-left relative col-span-12 items-end py-24 pr-8 lg:col-span-4 lg:block">
          <div class="bg-to-start bg-primary-dark"></div>
          <div class="faq-text text-white">
            <h1 class="mb-3 text-3xl font-bold md:text-4xl">Frequently Asked Questions</h1>
            <p class="text-xl text-gray-400">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id semper turpis. Sed sit amet libero.
            </p>
          </div>
        </div>
        <div class="faq-right relative col-span-12 flex-shrink flex-col px-8 py-24 lg:col-span-8 lg:px-16">
          <div class="bg-to-end bg-[#E7F1FF]"></div>
          <Accordion data={faqData} client:load />
        </div>
      </div>
    </div>
  </section>
</MainLayout>
