---
// import type { Agenda } from "../@types/agenda";
import { Image } from "astro:assets";
import type { Faq } from "../@types/faq";
import type { Speaker } from "../@types/speakers";
import type { Sponsor } from "../@types/sponsors";
import Accordion from "../components/Accordion";
import Button from "../components/Button";
import CardSpeaker from "../components/CardSpeaker.astro";
import Timer from "../components/Timer";
import AgendaData from "../components/AgendaData";
import MainLayout from "../layouts/MainLayout.astro";
import type { Agenda } from "../@types/agenda";
const eventDate = new Date(2025, 7, 17, 0, 0, 0);
const faq = await Astro.glob("../data/faq.json");
const agenda = await Astro.glob("../data/agenda.json");
const speakers = await Astro.glob("../data/speakers.json");
const sponsors = await Astro.glob("../data/sponsors.json");

const faqData: Faq[] = Object.values(faq).map((item) => (item as any).default)[0];
const agendaData: Agenda[] = Object.values(agenda).map((item) => (item as any).default)[0];
const speakersData: Speaker[] = Object.values(speakers).map((item) => (item as any).default)[0];

const sponsorsData: Sponsor[] = Object.values(sponsors).map((item) => (item as any).default)[0];
const sponsorImages = await Astro.glob<{ default: ImageMetadata }>("../data/images/sponsors/*.{png,jpg,jpeg,svg,webp}");
---

<MainLayout>
  <section id="hero" class="min-h-full">
    <div class="container">
      <div class="grid grid-cols-12">
        <div
          class="hero-left col-span-12 flex flex-grow flex-wrap items-end gap-10 pb-14 pt-24 md:py-24 lg:col-span-4 lg:block">
          <div class="hero-text text-gray- flex flex-col gap-4">
            <h1 class="mb-3 text-3xl font-bold">Indonesia Software Developer Conference</h1>
          </div>
        </div>
        <div
          class="hero-right relative col-span-12 col-start-1 grid grid-cols-subgrid flex-col py-14 text-white md:py-28 lg:col-span-8 lg:col-start-5">
          <div class="bg-to-end bg-primary-dark"></div>
          <div class="col-start-1 -col-end-1 lg:col-start-2">
            <div class="timer-area mb-12 flex items-center justify-center rounded-lg px-10 py-12 lg:py-24">
              <Timer
                client:only="react"
                date={eventDate}
                className="text-xl md:gap-5 md:text-xl xl:gap-10 xl:text-2xl"
              />
            </div>
            <div class="flex flex-col gap-6 lg:flex-row">
              <p class="text-lg font-light text-white opacity-80 md:text-xl lg:text-start">
                Join us for the annual conference for Indonesia software developers, where you can hear
                thought-provoking keynotes from industry leaders and network with fellow developers.
              </p>
              <div class="flex">
                <Button
                  color="primary"
                  className="min-w-44 flex-grow self-center rounded-xl px-0 text-xl xl:text-2xl"
                  href="https://www.papercall.io/idsw-2025">
                  Submit CFP
                </Button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="about" class="bg-gradient-to-b from-[#030E1C] to-[#061C3C] py-12">
    <div class="container">
      <div class="grid grid-cols-12 items-center">
        <div class="about-left col-span-12 mb-8 gap-10 pb-0 lg:col-span-4 lg:mb-0 lg:block">
          <h2 class="text-2xl font-bold !leading-normal text-white md:text-5xl">Built by the Community</h2>
        </div>
        <div
          class="about-right relative col-span-12 col-start-1 grid grid-cols-subgrid flex-col lg:col-span-8 lg:col-start-5">
          <p class="col-span-12 text-sm !leading-relaxed text-gray-200 sm:text-xl lg:col-span-8 lg:col-start-2">
            IDSW is Indonesia's first software developer conference. Organized by <a
              href="https://perkodi.org/"
              class="font-semibold underline">Perkodi</a
            > and <span class="font-semibold">various tech communities</span>, its mission is to offer annual in-depth
            sessions on the most important and new technologies.
          </p>
        </div>
      </div>
    </div>
  </section>

</MainLayout>
