---
import Layout from "../layout.astro";
---

<Layout>
  <section class="min-h-screen flex flex-col items-center justify-center bg-[#080814] text-white p-8">
    <h1 class="text-3xl font-bold pt-12 mb-6 text-center">
      IDSW 2025 with SerpApi — Live Stream
    </h1>
    <h2 class="text-2xl font-bold pt-12 mb-6 text-center">
      Day 1
    </h2>
    <div class="relative w-full max-w-6xl mx-auto aspect-video rounded-lg overflow-hidden shadow-xl">
      <iframe width="100%" height="100%"
      src="https://www.youtube.com/embed/uxXX6JF7JG8" 
      title="IDSW Day 1 Full" frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
      referrerpolicy="strict-origin-when-cross-origin" allowfullscreen
      ></iframe>
    </div>
    <h2 class="text-2xl font-bold pt-12 mb-6 text-center">
      Day 2
    </h2>
    <div class="relative w-full max-w-6xl mx-auto aspect-video rounded-lg overflow-hidden shadow-xl">
      <iframe width="100%" height="100%"
      src="https://www.youtube.com/embed/hZTj8iKhIio" 
      title="IDSW Day 2 Full" frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
      referrerpolicy="strict-origin-when-cross-origin" allowfullscreen
      ></iframe>
    </div>
  </section>
</Layout>
