---
const menus = ["Event", "Speakers", "Partners"];
---

<ul
  class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 dark:border-gray-700"
>
  {
    menus.map((menu) => (
      <li>
        <a href="#" class="text-white">
          {menu}
        </a>
      </li>
    ))
  }
</ul>
