---
import type { AgendaDetail } from "../@types/agenda";

interface Props {
  data: AgendaDetail;
}

const { data }: Props = Astro.props;

function getSpeakerString() {
  return data.speakers?.join(", ");
}
---

<div class="event-card col-span-12 mb-8 flex bg-gradient-to-r from-[#2F4D78] to-[#28456F] text-white lg:grid-rows-1">
  <div class="event-card-content lg:border-t-none border-t-none border-opacity-50 border-t-white p-4">
    <h3 class="event-card-title mb-3 text-xl font-bold">
      {data.title}
    </h3>
    <p class="event-card-description mb-4 leading-tight">
      {getSpeakerString()}
    </p>
    <p class="event-card-time font-medium">
      {data.time_start} - {data.time_end}
    </p>
  </div>
</div>
<style>
  @media screen and (min-width: 1024px) {
    .event-card-content {
      position: relative;
    }
  }
  @media screen and (min-width: 1400px) {
    .event-card-content::before {
      left: -2rem;
    }
  }
</style>
