@import "tailwindcss";

@plugin "tailwindcss-animate";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@theme {
  --color-dark: rgb(8 8 20);
  --font-sans: Inter, sans-serif;
}
@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    overflow-x: hidden;
  }
}
